<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
{% extends "oauth2_provider/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    <div class="block-center">
        <img src="{% static "geniuslogo.png" %}" alt="Logo"/>
        <h3 class="block-center-heading">{% trans "Your Genius Plaza applications" %}</h3>
        {% if applications %}
            <ul>
                {% for application in applications %}
                    <li><a href="{{ application.get_absolute_url }}">{{ application.name }}</a></li>
                {% endfor %}
            </ul>

            <a class="btn btn-success" href="{% url "oauth2_provider:register" %}">New Application</a>
        {% else %}
            <p>{% trans "No applications defined" %}. <a href="{% url 'oauth2_provider:register' %}">{% trans "Click here" %}</a> {% trans "if you want to register a new one" %}</p>
        {% endif %}
    </div>
{% endblock content %}
